@charset "UTF-8";

    html, body {
      height: 100%;
      margin: 0;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8f9fa;
      transition: background-color 0.5s ease, color 0.5s ease;
      font-size: 16px;
    }


    .form-login {
      max-width: 350px;
      padding: 1.025rem;
    }

    /* Botões de acessibilidade (tema e fonte) */
    #themeToggle, #fontSizeBtn {
      margin: 25px;
      font-size: 1rem;
      padding: 8px 8px;
      border: none;
      background: none;
      box-shadow: none;
      cursor: pointer;
    }

    [data-bs-theme="light"] #themeIcon, [data-bs-theme="light"] #fontIcon {
      color: #777777;
    }
    [data-bs-theme="dark"] #themeIcon, [data-bs-theme="dark"] #fontIcon {
      color: white;
    }

    #fontSizeBtn:hover {
      color: inherit;
      display: block;
    }
    
    [data-bs-theme="dark"] body {
      background-color: #212529;
      color: white;
    }
    [data-bs-theme="light"] body {
      background-color: #f8f9fa;
      color: black;
    }

    #logoTelecall {
      transition: opacity 0.5s ease;
    }

  
